.img-card{
    position: relative;
    height: 500px;
}
.img-card>*{
    position: absolute;
}
.img-title{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: white;
    font-weight: bold;
    z-index: 2;
}
.over{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.366);
    z-index: 1;
    height: 100%;
    width: 100%;
}