@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.col-lg-12 img{
    width: 40%;
}

.col-lg-3>.float-lg-start>img {
    margin: 0 !important;
}

body {
    padding: 0px !important;
    line-height: 1.6 !important;
    font-family: Arial, sans-serif !important;
}

p {
    text-align: justify;
}


@media only screen and (max-width: 600px) {

    .row>* {
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) * .5);
        padding-left: calc(var(--bs-gutter-x) * .5);
        margin-top: var(--bs-gutter-y);
    }

    .navbar-toggler {
        margin-top: 15px;
    }

    #content>img {
        width: 400vw !important;
    }

    #content>h1 {
        font-size: larger !important;
        font-weight: bold !important;
    }

    .col-lg-1>.float-sm-end {}

    .col-sm-3>.float-sm-start>img {
        margin: 0 !important;
        display: inline !important;
    }




}

